.body1
{
  background-image: url('https://t4.ftcdn.net/jpg/00/57/88/83/360_F_57888323_UfOwb07haVhrN1Z85qHt8oqyYfX4QMil.jpg');
   background-size: 1400px 900px;
  background-repeat: no-repeat;
  
  
}
.h1{
  text-align:center;
  color:red;
  font-size: 50px;

}
.head
{
  
  text-align: center;
  color: red;
  font-size: 40px;
}
.head1
{
    text-align: center;
  color: red;
  font-size: 50px;
}
.card
{
  

  background-color: red;
    
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    opacity: 0.6;
    width: 300px;
    height:550px;
    margin: auto;
}
.username
{
  width:250px;
  height:30px
}
.center
{
  text-align: center;
}
.btn
{
  text-align: center;
  background-color: red;
  color: white;;
  height:40px;
  width:70px;
  cursor: pointer;
  border-radius: 12px;
  
}

span.psw {
  padding: 20px;
   display: block;
   float: none;
   color: white;
   cursor: pointer;
   font-size: large;
}